<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/accessChat" method="post">
      <input
        type="text"
        name="userId"
        id="chat"
        placeholder="Enter your id"
        required
      />
      <button>Let's go</button>
    </form>
  </body>
</html>
