<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div>
      <div class='LoginPa'>
      <form class='form' action="/register" method="post">
          <span class='Head'>Kaarigar-Sathi</span><br/><br/><br/>
          <h4>Select your profile </h4>
          <select>
              <option >Select</option>
              <option >Vendor</option>
              <option >Customer</option>
          </select><br/><br/>
          <span class='user'>Enter your mobile no.</span><br/>
          <input name='mobile' type='number' /> <br/><br/>
          <span class='user'>Enter your name</span><br/>
          <input name='name' type='text' /> <br/><br/>
          <span class='user'>Enter your email</span><br/>
          <input name='email' type='email' /> <br/><br/>
          <span class='user'>Enter your location</span><br/>
          <input id="locationName" name='locationName' type='text' /> <br/><br/>
          <span class='user'>Enter your username</span><br/>
          <input name='username' type='text' /> <br/><br/>
          <span class='user'>Enter your password</span><br/>
          <input name='password' type='password' /><br/><br/>
          <!-- <span class='user'>Confirm your password</span><br/>
          <input name='password' type='password' /><br/><br/> -->
          
          <button>Let's go</button><br/><br/>
         Already have an account ? <a href="/login">Login now</a>
          <!-- <Link to='/loginpage' style={{backgroundColor:'darkblue', color:'white', borderRadius:'30px', paddingLeft:'5px', paddingRight:'5px'}}>Login now</Link> -->
      </form>
      </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&libraries=places"></script>
  </body>
</html>
