<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="pro">
      <div class="navbar">
        <div class="nav-logo">
          <!-- <img src="/images/logo.png" alt="" /> -->
          <span class="logo">KaarigarSathi</span>
        </div>
        <ul class="nav-menu">
          <a href="/profile"><li class="home">Home</li></a>
          <a href="/about"><li class="about">About</li></a>
        </ul>
        <div class="nav-login-cart">
          <a class="about" href="/details">View your profile</a>
        </div>

        <a class="logoutBut" href="/logout">
          Logout
          <!-- <li class="logoutBut">Logout</li> -->
        </a>
      </div>
      <div class="welcome">
        <h1>Welcome <%=user.name%></h1>
      </div>
      <!-- <form action="/accessChat" method="post">
        <input
          type="text"
          name="userId"
          id="chat"
          placeholder="Enter your id"
          required
        />
        <button>Let's go</button>
      </form> -->
      <div class="top">
        <div class="heading">
          <h1 class="animated-text">
            A Smart way to <br />
            find and provide <br />
            work to Kaarigar<br />
            near you
          </h1>
        </div>

        <div id="imageContainer" class="image-containerone">
          <img src="/images/home_topicon.png" alt="" class="zoom-image" />
        </div>
      </div>
      <div class="bottom">
        <% if(user.selectedOption === "Customer") { %>
        <a href="/customer">
          <span class="KaarigarBut"
            >Lets go and find the workers you need today</span
          >
          <!-- <img src="/images/customer_icon.png" alt="" /> -->
        </a>
        <% } else { %>

        <a href="/kaarigar">
          <span class="KaarigarBut"
            >Let's Go and checkout the latest works available today.</span
          >
          <!-- <img src="/images/Kaarigaricon.png" alt="" /> -->
        </a>
        <% } %>
      </div>
    </div>
    <!-- <button id="getLocationButton">Get My Location</button> -->

    <script>
      document
        .getElementById("getLocationButton")
        .addEventListener("click", () => {
          // Call a function to get the user's location
          getUserLocation();
        });
    </script>
    <script>
      function getUserLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              // Handle the user's location
              const lat = position.coords.latitude;
              const lng = position.coords.longitude;

              // Send location data to the server
              fetch(`/save-location?lat=${lat}&lng=${lng}`, {
                method: "POST",
              })
                .then((response) => response.json())
                .then((data) => {
                  console.log("Location saved:", data);
                })
                .catch((error) => {
                  console.error("Error saving location:", error.message);
                });
            },
            (error) => {
              console.error("Error getting user location:", error.message);
            }
          );
        } else {
          console.error("Geolocation is not supported by this browser.");
        }
      }
    </script>
  </body>
</html>
