body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0f2027 0%, #2c5364 100%);
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.6),
    rgba(31, 38, 135, 0.37)
  );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span.user {
  font-weight: bold;
  color: #fff;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#getLocationButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* makes the button a block element */
  margin: 0 auto; /* centers the button */
  margin-top: 15px;
}

#getLocationButton:hover {
  background-color: #0056b3;
}
