html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(135deg, #0f2027 0%, #2c5364 100%);
  /* background: linear-gradient(to right, rgb(164, 248, 248), aqua); */
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 15px "Courier New", Courier, monospace;
  color: whitesmoke;
  transition: transform 2s ease-in-out;
  animation: zoom-in-out 6s infinite;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1); /* Zoom in */
  }
  66% {
    transform: scale(1); /* Zoom out */
  }
  100% {
    transform: scale(1.1); /* Zoom in again */
  }
}

.logo {
  font: 25px "Courier New", Courier, monospace;
  color: black;
  font-weight: 800;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 2px 8px;
  cursor: pointer;
}

.pro {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home:hover {
  padding: 3px 10px;
  font-weight: bolder;
  font-size: large;
}

.about:hover {
  font-size: large;
  font-weight: bolder;
  padding: 3px 10px;
}

.navbar {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.6),
    rgba(31, 38, 135, 0.37)
  );
  color: white;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-logo img {
  max-height: 40px;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-right: 20px;
  color: rgb(216, 216, 216);
  padding: 3px 10px;
  cursor: pointer;
}

.nav-login-cart a,
.nav-menu li a {
  color: lightgoldenrodyellow;
  text-decoration: none;
  margin-right: 20px;
}

.logoutBut {
  background-color: rgb(255, 15, 15);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logoutBut:hover {
  background-color: rgb(255, 4, 4);
  color: white;
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  border: none;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .welcome {
    font-size: 10px;
  }

  .nav-menu,
  .nav-login-cart {
    margin-top: 5px;
  }

  .nav-menu li,
  .nav-login-cart a {
    margin-right: 10px;
  }

  .logoutBut {
    margin-top: 5px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.heading {
  max-width: 50%;
  font-size: 18px;
  color: rgb(202, 201, 201);
  padding: 0 10%;
}

.image-containerone {
  width: 50%;
  overflow: hidden; /* Ensure the container hides overflow content */
  display: inline-block;
  position: relative;
}

.zoom-image {
  width: 100%;
  height: 100%;
  position: relative;
  animation: slide-in-out 5s linear infinite;
}
@keyframes slide-in-out {
  0% {
    transform: translateX(0); /* Start at the initial position */
  }
  100% {
    transform: translateX(-100%); /* Move to the left by 100% of its width */
  }
}

/* Clone the image and place it to the right of the original image */
.image-containerone::before {
  content: "";
  background-image: url("/images/home_topicon.png");
  background-size: 100% 100%;
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;
  animation: slide-in-out 5s linear infinite;
}

.image-containerone img {
  max-width: 100%;
  height: auto;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .top {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .heading,
  .image-containerone {
    max-width: 100%;
  }

  .bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  .KaarigarBut {
    display: flex;
    font-size: 20px;
    margin: auto;
    width: 60%;
  }
}

.KaarigarBut {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: rgb(30, 46, 39);
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
}
.KaarigarBut:hover {
  color: rgb(0, 0, 0);
  animation: zoom-in-out 6s infinite;
}

.animated-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(14, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14ch; /* Adjust the number of characters to match your text */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.animated-text::after {
  content: "";
  border-right: 2px solid black;
  animation: blink-caret 0.75s step-end infinite;
}
